* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    background: linear-gradient(45deg, #f0f0f0, #601324);
    font-family: sans-serif;
    font-weight: 100;
}

.Logo {
    width: 270px;
    height: 50px;
}

.MainHeader {
    background-color: #601324;
    width: 100%;
    padding: 20px;
}

.FPortal_header,
.logo {
    display: inline-block;
    width: 48%;
    vertical-align: top;
}

.logo {
    height: 80px;
}

.name_wrapper {
    text-align: left;
}

ul {
    list-style-type: none;
    margin: 0 20px 0 0;
    padding: 0;
}

li {
    color: white;
    display: inline;
    float: right;
    padding: 8px;
}

.name_wrapper {
    background-color: #601324;
    border: 10px double rgb(255, 255, 255);
    text-align: left
}

.student_name,
.faculty_icon {
    color: white;
    display: inline-block;
}

.faculty_icon {
    margin: 0px 10px 0px 20px;
}

.icons {
    padding: 30px;
    text-align: center;
    width: 100%;
    padding: 2px;
}

.icon-round-border {
    border: 10px double #601324;
    color: #0003c4;
    text-align: center;
    padding-top: 15px;
    padding-left: 3px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.icon-round-border:hover {
    color: #fff;
    border: 10px double #fff;
    background-color: #790404;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.register,
.hold,
.academics {
    color: rgb(0, 0, 0);
    display: inline-block;
    padding: 0px 30px 0px 30px;
    padding-top: 30px;
}

.classes_wrapper {
    background-color: #c9a4ac;
    color: white;
    border-radius: 2%;
    padding-bottom: 20px;
}

.classes_wrapper_title {
    background-color: #24040b;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 3%;
}

#my_classes {
    margin: 15px 15px 0px 10px;
    padding-left: 10px;
    padding-right: 150px;
}

#course_title {
    color: white;
}

h5 {
    height: 2px;
    ;
    padding: 0px;
    margin: 0px;
}

h4 {
    height: 3px;
    padding: 0px;
    margin: 0px;
}

#course_title {
    font-weight: 900;
}


/*This is the classes and slides block*/

.first_row {
    background-color: #601324;
    text-align: left;
    width: 100%;
    vertical-align: middle;
}

.school_images {
    margin-top: 50px;
    text-align: center;
    vertical-align: middle;
    width: 500px;
    height: 300px;
    background-color: #c9a4ac;
    border-radius: 2%;
    margin-left: 50px;
}

.my_slides {
    display: none;
}

.fade_ {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade_ {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade_ {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.school_images img {
    margin-top: 30px;
    max-width: 400px;
    max-height: 250px;
}

.classes_wrapper,
.school_images {
    display: inline-block;
    vertical-align: middle;
    margin: 50px;
}

.btn {
    color: white;
    background-color: #ccb38d;
}